@import url('reset.css');

@font-face {
  font-family: 'TrajanProRegular';
  src: url('fonts/trajanp0-webfont.eot');
  src: url('fonts/trajanp0-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/trajanp0-webfont.woff') format('woff'),
       url('fonts/trajanp0-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TrajanProBold';
  src: url('fonts/trajanp2-webfont.eot');
  src: url('fonts/trajanp2-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/trajanp2-webfont.woff') format('woff'),
       url('fonts/trajanp2-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansBoldCond';
  src: url('fonts/gillsansmtpro-boldcondensed.eot');
  src: url('fonts/gillsansmtpro-boldcondensed.eot?#iefix') format('embedded-opentype'),
       url('fonts/gillsansmtpro-boldcondensed.woff') format('woff'),
       url('fonts/gillsansmtpro-boldcondensed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'TrajanProBold';
  height: 100%;
  width: 100%;
  background: black;
}
.col-md-12 {
  padding: 0px !important;
}
header {
  width: 100%;
  padding-bottom: 2.5%;
  text-align: center;
  padding: 5%;
  background-image: url('../img/bg-gold.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
header img {
  width: 50%;
}
div.random {
  background: black;
}
h1 {
  font-size: 100px;
  font-family: 'TrajanProRegular';
  color: black;
  text-transform: uppercase; 
}
h2 {
  font-family: 'GillSansBoldCond';
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
  color: black;
  font-style: italic;
}
h3 {
  font-family: 'GillSansBoldCond';
  font-size: 2em;
  line-height: 2.2em;
  margin-bottom: 20px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
}
p {
  font-family: 'TrajanProBold';
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 10px;
}
i {
  font-style: italic;
}
em {
  font-family: 'TrajanProBold';
  font-size: .9em;
}

section.text {
  width: 100%;
  text-align: left;
  color: white;
}

.buttons li {
  display: inline-block;
  font-size: 3em;
  margin-right: 3%;
  background: transparent;
  font-family: 'TrajanProRegular';
  color: black;
  text-transform: uppercase;
  padding: 5px;
  width: 29%;
  text-align: center;
  border: none;
}

button {
  display: inline-block;
  font-size: 2em;
  margin-right: 3%;
  background: transparent;
  font-family: 'TrajanProRegular';
  color: black;
  background-image: url('../img/bg-gold.jpg');
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  border: none;
}

.buttons li:hover {
  cursor: pointer;
}

.medium-text, .long-text {
  display: none;
}

li img {
  max-width: 11%;
}

li.active {
  background-color: rgba(255,255,255,.1);
}


button.copy {
  display: none;
}
button.copy.active {
  display: block !important;
  margin: 40px auto 0px;
}



button.copy.active:focus {
  outline: none;
  background-color: rgba(255,255,255,.1);
}

center {
  text-align: center;
}

@media screen and (max-width:610px) {
  header img {
    width: 100%;
  }
  h2 {
    padding-left: 0px;
  }
  .buttons li {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 5px;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width:480px) {
  button.copy.active {
    display: none !important;
  }
  section.text {
    margin-bottom: 40px;
  }
}